:root {
  --dark-color: #202022;
  --light-color: #d9d9d9;
}

*,
a:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 1400px) {
  html {
    font-size: 50%;
  }
}
body {
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--dark-color);
  color: var(--light-color);
  overflow-x: hidden;
  position: relative;
}

.container {
  max-width: 122rem;
  width: 100%;
  margin: auto;
}

.heading__secondary {
  -webkit-text-stroke: 1px var(--light-color);
  -webkit-text-fill-color: var(--dark-color);
  font-weight: 700;
  font-size: 5rem;
  margin-bottom: 3rem;
}

.btn,
.btn::after {
  background: linear-gradient(45deg, transparent 5%, var(--light-color) 5%);
  color: var(--dark-color);
  padding: 1.8rem 3.5rem;
  font-size: 2rem;
  margin: 3rem 0;
  font-weight: 700;
  outline: transparent;
  display: flex;
  width: -moz-max-content;
  width: max-content;
  flex-direction: column;
  border: none;
}

.btn-text {
  pointer-events: none;
}

.text-center {
  text-align: center;
}

.section-heading {
  position: relative;
}

.reveal-content,
.reveal-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--dark-color);
  top: 0;
  left: 0;
  z-index: 9;
}

header {
  position: relative;
  z-index: 99;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
header .nav .logo {
  font-size: 4rem;
  font-weight: 700;
  -webkit-text-stroke: 1px var(--light-color);
  -webkit-text-fill-color: var(--dark-color);
  z-index: 9;
  transition: all 3s ease-in-out;
}
header .nav .logo:hover {
  -webkit-text-stroke: 1px var(--dark-color);
}
header .nav__list {
  display: flex;
  -webkit-gap: 4rem;
  gap: 4rem;
  font-size: 1.8rem;
}
header .nav__list-item {
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  padding: 2rem 0;
}
header .nav__list-item span {
  transition: 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
header .nav__list-item .nav-t-hide {
  opacity: 0;
}
header .nav__list-item .nav-t-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
header .nav__list-item .nav-t-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}
header .nav__list-item:hover .nav-t-1 {
  top: -100%;
}
header .nav__list-item:hover .nav-t-2 {
  top: 50%;
}
header .nav .menu-icon {
  width: 4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 0.6rem;
  margin-left: 2rem;
  cursor: pointer;
  position: relative;
}
header .nav .menu-icon .line {
  background-color: var(--light-color);
  width: 100%;
  height: 0.3rem;
  width: 100%;
  pointer-events: none;
  z-index: 9999;
  position: relative;
  transition: all;
}
header .nav .menu-icon .line2 {
  width: 70%;
  margin-left: auto;
  pointer-events: none;
}
header .nav .menu-icon:hover .line {
  width: 100%;
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.hero .main-heading {
  font-size: 4.5rem;
}
.hero .main-heading span {
  display: block;
}
.hero .main-heading img {
  margin-left: 10rem;
  display: block;
  width: 250px;
  height: 50px;
}
.hero .main-heading .text-outline {
  -webkit-text-stroke: 1px var(--light-color);
  -webkit-text-fill-color: var(--dark-color);
  font-size: 6rem;
}

.about {
  padding: 10rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: relative;
}
.about__left {
  position: relative;
  overflow: hidden;
}
.about__left .about-text {
  font-size: 2rem;
  line-height: 2;
  width: 100%;
}
.about__right {
  position: relative;
  height: 50rem;
}
.about__right .right__text {
  -webkit-text-stroke: 1px var(--light-color);
  -webkit-text-fill-color: var(--dark-color);
  font-size: 3rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  opacity: 0.2;
  transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}
.about__right .right__text-1 {
  transform: rotate(80deg);
  top: 5%;
  left: 20%;
  font-size: 3.5rem;
}
.about__right .right__text-2 {
  transform: rotate(-25.8deg);
  top: 4%;
  left: 60%;
  font-size: 2.5rem;
}
.about__right .right__text-3 {
  transform: rotate(30deg);
  top: 5%;
  left: 85%;
  font-size: 3.9rem;
}
.about__right .right__text-4 {
  transform: rotate(55deg);
  top: 35%;
  left: 24%;
  font-size: 2.5rem;
}
.about__right .right__text-5 {
  transform: rotate(-30deg);
  top: 42%;
  left: 40%;
  font-size: 5rem;
}
.about__right .right__text-6 {
  transform: rotate(61deg);
  top: 56%;
  left: 90%;
  font-size: 2.4rem;
}
.about__right .right__text-7 {
  transform: rotate(-39deg);
  top: 80%;
  left: 17%;
  font-size: 4rem;
}
.about__right .right__text-8 {
  transform: rotate(163deg);
  top: 85%;
  left: 50%;
  font-size: 4.5rem;
}
.about__right .right__text-9 {
  transform: rotate(90deg);
  top: 80%;
  left: 90%;
  font-size: 2.8rem;
}
.about__right .right__text:hover {
  transform: rotate(0deg);
  opacity: 1;
}

.work {
  padding: 10rem 0;
}
.work .work-row {
  display: flex;
  align-items: center;
  padding: 7rem 0;
}
.work .work-row__left {
  width: 45%;
  padding-right: 10%;
  position: relative;
  overflow: hidden;
}
.work .work-row__left h3 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.work .work-row__left p {
  font-size: 1.8rem;
  line-height: 1.5;
}
.work .work-row__left .work-tags {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}
.work .work-row__left .work-tags span {
  padding: 0.8rem 1.5rem;
  background-color: transparent;
  border: 1px solid var(--light-color);
  text-transform: uppercase;
  font-size: 1.4rem;
}
.work .work-row__left .work-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.work .work-row__left .work-btns .btn__work {
  padding: 1.4rem 3rem;
  font-size: 1.8rem;
  font-weight: 400;
}
.work .work-row__left .work-btns .btn-icon {
  font-size: 2rem;
  display: flex;
  gap: 1rem;
  position: relative;
}
.work .work-row__left .work-btns .btn-icon img {
  width: 2.5rem;
  height: 2.5rem;
}
.work .work-row__left .work-btns .btn-icon::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: var(--light-color);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.work .work-row__left .work-btns .btn-icon:hover::after {
  width: 75%;
}
.work .work-row__right {
  width: 55%;
  position: relative;
  overflow: hidden;
}
.work .work-row__right img {
  width: 100%;
}

.testimonial {
  padding: 10rem 0;
  text-align: center;
  position: relative;
}
.testimonial .swiper-wrapper {
  align-items: center;
}
.testimonial__text {
  font-size: 4rem;
  position: relative;
  margin: 5rem 12rem;
}
.testimonial__icon--right {
  transform: rotate(180deg) translateY(-1rem) translateX(-1rem);
  position: absolute;
}
.testimonial .swiper-button-prev {
  left: 20px;
}
.testimonial .swiper-button-next {
  right: 20px;
  left: auto;
}
.testimonial .swiper-button-prev::after,
.testimonial .swiper-button-next::after {
  display: none;
}

.contact {
  padding: 10rem 0;
  position: relative;
}
.contact__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.contact__inner h2 {
  font-size: 5rem;
  font-weight: 400;
}
.contact__btn {
  font-size: 5.5rem;
  display: flex;
  align-items: center;
  position: relative;
  max-width: -moz-max-content;
  max-width: max-content;
}
.contact__btn::after {
  content: "";
  position: absolute;
  left: 3px;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: var(--light-color);
  transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.contact__btn:hover::after {
  width: 80%;
}
.contact__btn img {
  width: 6rem;
  height: 6rem;
}
.contact__icon {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: rotate(3deg);
}
.contact .reveal-content {
  height: 135%;
}

.footer {
  padding: 10rem 0 0;
  text-align: center;
  position: relative;
}
.footer__inner {
  display: flex;
  gap: 3rem;
  justify-content: center;
  padding-bottom: 5rem;
}
.footer__inner a {
  display: block;
}
.footer__inner a img {
  width: 5rem;
  height: 5rem;
  pointer-events: none;
}
.footer .copyright {
  padding: 4rem 0;
  font-size: 1.5rem;
  border-top: 1px solid rgba(217, 217, 217, 0.2);
}

.cursor {
  width: 6rem;
  height: 6rem;
  border: 2px solid var(--light-color);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  transition-property: background, transform;
  transform-origin: 75% 75%;
  z-index: 99;
}
.cursor span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--dark-color);
}

.cursor.nav-active {
  transform: scale(3);
  border: 0.5px solid var(--light-color);
}

.cursor.btn-active {
  background-color: #d9d9d9;
  transform: scale(3);
  border: 1px solid var(--light-color);
}

.cursor.img-active {
  transform: scale(3);
  border: 1px solid var(--light-color);
}

.menu-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-color);
  color: var(--dark-color);
  z-index: 9;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}
.menu-popup .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.menu-popup .link-dark {
  font-size: 5rem;
  display: flex;
  align-items: center;
  margin-top: 8rem;
  font-weight: bold;
}
.menu-popup__right {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.menu-popup__right .arrow-img {
  position: absolute;
  right: 25rem;
  top: 14rem;
  transform: rotate(-15deg);
}

.contact__btn.link-dark::after {
  background-color: var(--dark-color);
}

body.hide-overflow {
  overflow: hidden !important;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }
  .hero {
    height: auto;
    padding: 20rem 0;
  }
  .menu-popup .link-dark {
    margin-top: 10rem;
  }
  .menu-popup__right .arrow-img {
    position: absolute;
    right: 25rem;
    top: 16rem;
    transform: rotate(-15deg);
    width: 3rem;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 40%;
  }
  .about {
    grid-template-columns: 1fr;
  }
  .about__right {
    display: none;
  }
  .work .work-row {
    flex-direction: column-reverse;
  }
  .work .work-row__left {
    margin-top: 5rem;
    width: 100%;
  }
  .work .work-row__right {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .testimonial__text {
    font-size: 3rem;
  }
  .testimonial__text img {
    width: 5rem;
    height: 5rem;
  }
}
@media (max-width: 450px) {
  .container {
    padding: 0 20px;
  }
  .hero {
    padding: 15rem 0 0;
  }
  .testimonial__text {
    margin: 0;
  }
  .swiper-button-next,
  .swiper-button-prev {
    bottom: -5rem;
    top: auto;
    display: none;
    z-index: 999;
  }
  .contact__inner {
    flex-direction: column;
    gap: 5rem;
  }
  .contact__icon {
    display: none;
  }
  .about {
    padding: 5rem 0;
  }
  .work {
    padding: 5rem 0;
  }
  .contact {
    padding: 5rem 0;
    position: relative;
  }
  .footer {
    padding: 5rem 0 0;
  }
  .cursor.nav-active {
    transform: scale(2);
    border: 0.5px solid var(--light-color);
  }
  .cursor.btn-active {
    background-color: #d9d9d9;
    transform: scale(2);
    border: 1px solid var(--light-color);
  }
  .cursor.img-active {
    transform: scale(2);
    border: 1px solid var(--light-color);
  }
  .menu-popup .container {
    max-width: 100%;
    flex-direction: column;
    padding-top: 10rem;
    justify-content: center;
  }
  .menu-popup__left {
    width: 100%;
  }
  .menu-popup .link-dark {
    font-size: 4rem;
    margin-top: 3rem;
    font-weight: bold;
    width: -moz-max-content;
    width: max-content;
  }
  .menu-popup .link-dark img {
    width: 30px;
  }
  .menu-popup__right {
    width: 100%;
    text-align: left;
    align-items: flex-start;
  }
  .menu-popup__right .arrow-img {
    display: none;
  }
  .hide-on-mobile {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */