:root {
    --dark-color: #202022;
    --light-color: #d9d9d9;
}

*,
a:before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: var(--dark-color);
    background-color: var(--light-color);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    cursor: none; 
}

@media (max-width:1400px) {
    html {
        font-size: 50%;
    }
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--dark-color);
    color: var(--light-color);
    overflow-x: hidden;
    position: relative;
}

.container {
    max-width: 122rem;
    width: 100%;
    margin: auto;
}

.heading__secondary {
    -webkit-text-stroke: 1px var(--light-color);
    -webkit-text-fill-color: var(--dark-color);
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: 3rem;
}



.btn,
.btn::after {
    background: linear-gradient(45deg, transparent 5%, var(--light-color) 5%);
    color: var(--dark-color);
    padding: 1.8rem 3.5rem;
    font-size: 2rem;
    margin: 3rem 0;
    font-weight: 700;
    outline: transparent;
    display: flex;
    width: max-content; 
    border: none;
}

.btn-text {
    pointer-events: none;
}

.text-center {
    text-align: center;
}

.section-heading {
    position: relative;
}

.reveal-content,
.reveal-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark-color);
    top: 0;
    left: 0;
    z-index: 9;
}

header {
    position: relative;
    z-index: 99;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;

        .logo {
            font-size: 4rem;
            font-weight: 700;
            -webkit-text-stroke: 1px var(--light-color);
            -webkit-text-fill-color: var(--dark-color);
            z-index: 9;
            transition: all .3s ease-in-out;

        }

        &__list {
            display: flex;
            -webkit-gap: 4rem;
            gap: 4rem;
            font-size: 1.8rem;

            &-item {
                position: relative;
                overflow: hidden;
                text-transform: uppercase;
                padding: 2rem 0;

                span {
                    transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    pointer-events: none;
                }

                .nav-t-hide {
                    opacity: 0;
                }

                .nav-t-1 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }

                .nav-t-2 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 150%;
                    left: 0;
                    transform: translateY(-50%);
                }

                &:hover .nav-t-1 {
                    top: -100%;
                }

                &:hover .nav-t-2 {
                    top: 50%;
                }
            }
        }

        .menu-icon {
            width: 4rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: .8rem;
            margin-top: .6rem;
            margin-left: 2rem;
            cursor: pointer;
            position: relative;



            .line {
                background-color: var(--light-color);
                width: 100%;
                height: .3rem;
                width: 100%;
                pointer-events: none;
                z-index: 9999;
                position: relative;
                transition: all .3s cubic-bezier(0.895, 0.03, 0.685, 0.22);

            }

            .line2 {
                width: 70%;
                margin-left: auto;
                pointer-events: none;
            }

            &:hover .line2 {
                width: 100%
            }

            &.active .line1 {
                transform: rotate(45deg) translateY(6px);
            }

            &.active .line2 {
                transform: rotate(-45deg) translateY(-7px);

            }
        }
    }
}

header.active {
    nav {
        .logo {
            -webkit-text-stroke: 1px var(--dark-color);
            -webkit-text-fill-color: var(--light-color);
        }
    }
}

.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;


    .main-heading {
        font-size: 4.5rem;
        position: relative;

        span {
            display: block;
        }

        .heading-arrow {
            margin-left: 10rem;
            display: block;
            width: 250px;
            height: 50px;
        }

        .text-outline {
            -webkit-text-stroke: 1px var(--light-color);
            -webkit-text-fill-color: var(--dark-color);
            font-size: 6rem;
        }

        .line-ab,
        .bg-ab {
            position: absolute;
        }

        // .line-ab {
        //     top: -7rem;
        //     left: -12rem;
        //     z-index: -1;
        // }

        // .bg-ab {
        //     top: 0;
        //     right: 0;
        // }

    }
}

.about {
    padding: 10rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;

    &__left {
        position: relative;
        overflow: hidden;

        .about-text {
            font-size: 2rem;
            line-height: 2;
            width: 100%;
        }
    }

    &__right {
        position: relative;
        height: 50rem;

        .right__text {
            -webkit-text-stroke: 1px var(--light-color);
            -webkit-text-fill-color: var(--dark-color);
            font-size: 3rem;
            display: inline-block;
            text-transform: uppercase;
            font-weight: 700;
            position: absolute;
            opacity: .2;
            transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);

            &-1 {
                transform: rotate(80deg);
                top: 5%;
                left: 20%;
                font-size: 3.5rem;
            }

            &-2 {
                transform: rotate(-25.8deg);
                top: 4%;
                left: 60%;
                font-size: 2.5rem;
            }

            &-3 {
                transform: rotate(30deg);
                top: 5%;
                left: 85%;
                font-size: 3.9rem;
            }

            &-4 {
                transform: rotate(55deg);
                top: 35%;
                left: 24%;
                font-size: 2.5rem;
            }

            &-5 {
                transform: rotate(-30deg);
                top: 42%;
                left: 40%;
                font-size: 5rem;
            }

            &-6 {
                transform: rotate(61deg);
                top: 56%;
                left: 90%;
                font-size: 2.4rem;
            }

            &-7 {
                transform: rotate(-39deg);
                top: 80%;
                left: 17%;
                font-size: 4rem;
            }

            &-8 {
                transform: rotate(163deg);
                top: 85%;
                left: 50%;
                font-size: 4.5rem;
            }

            &-9 {
                transform: rotate(90deg);
                top: 80%;
                left: 90%;
                font-size: 2.8rem;
            }

            &:hover {
                transform: rotate(0deg);
                opacity: 1;
            }
        }
    }

}

.work {
    padding: 10rem 0;

    .work-row {
        display: flex;
        align-items: center;
        padding: 7rem 0;

        &__left {
            width: 45%;
            padding-right: 10%;
            position: relative;
            overflow: hidden;

            h3 {
                font-size: 4rem;
                font-weight: 700;
                margin-bottom: 2rem;
            }

            p {
                font-size: 1.8rem;
                line-height: 1.5;
            }

            .work-tags {
                display: flex;
                gap: 1rem;
                margin: 2rem 0;

                span {
                    padding: .8rem 1.5rem;
                    background-color: transparent;
                    border: 1px solid var(--light-color);
                    text-transform: uppercase;
                    font-size: 1.4rem;
                }
            }

            .work-btns {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .btn__work {
                    padding: 1.4rem 3rem;
                    font-size: 1.8rem;
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    img{
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                }

                .btn-icon {
                    font-size: 2rem;
                    display: flex;
                    gap: 1rem;
                    position: relative;

                    img {
                        width: 2.5rem;
                        height: 2.5rem;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        left: 0px;
                        bottom: -5px;
                        width: 0%;
                        height: 2px;
                        background-color: var(--light-color);
                        transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                    }

                    &:hover::after {
                        width: 75%;
                    }
                }



            }

        }

        &__right {
            width: 55%;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                border-radius: 5px;
            }
        }
    }
}

.testimonial {
    padding: 10rem 0;
    text-align: center;
    position: relative;

    .swiper-wrapper {
        align-items: center;
    }

    &__text {
        font-size: 4rem;
        position: relative;
        margin: 5rem 12rem;


    }

    &__icon--right {
        transform: rotate(180deg) translateY(-1rem) translateX(-1rem);
        position: absolute;
    }

    .swiper-button-prev {
        left: 20px;
    }

    .swiper-button-next {
        right: 20px;
        left: auto;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: none;
    }

}

.contact {
    padding: 10rem 0;
    position: relative;

    &__inner {
        display: flex;
        justify-content: space-between;
        position: relative;

        h2 {
            font-size: 5rem;
            font-weight: 400;
        }
    }

    &__btn {
        font-size: 5.5rem;
        display: flex;
        align-items: center;
        position: relative;
        max-width: max-content;

        &::after {
            content: '';
            position: absolute;
            left: 3px;
            bottom: 0;
            width: 0%;
            height: 3px;
            background-color: var(--light-color);
            transition: all .3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
        }

        &:hover::after {
            width: 80%;
        }

        img {
            width: 6rem;
            height: 6rem;
        }

    }

    &__icon {
        position: absolute;
        top: 10rem;
        left: 50%;
        transform: rotate(3deg);
    }

    .reveal-content {
        height: 135%;
    }
}

.footer {
    padding: 10rem 0 0;
    text-align: center;
    position: relative;

    &__inner {
        display: flex;
        gap: 3rem;
        justify-content: center;
        padding-bottom: 5rem;

        a {
            display: block;

            img {
                width: 5rem;
                height: 5rem;
                pointer-events: none;
            }
        }
    }

    .copyright {
        padding: 4rem 0;
        font-size: 1.5rem;
        border-top: 1px solid rgba(217, 217, 217, 0.2);
    }

}

.cursor {
    width: 6rem;
    height: 6rem;
    border: 2px solid rgba(217, 217, 217, 0.5);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all .5s ease-in-out;
    transition-property: background, transform, width, height;
    transform-origin: 75% 75%;
    z-index: 99;

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--dark-color);
    }

}

.cursor.nav-active {
    width: 150px;
    height: 150px;
    border: 1px solid rgba(217, 217, 217, 0.5);
}

.cursor.btn-active {
    background-color: #d9d9d9;
    transform: scale(3);
    border: 1px solid var(--light-color);
}

.cursor.img-active {
    width: 150px;
    height: 150px;
    border: 1px solid rgba(217, 217, 217, 0.5);
}

.menu-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--light-color);
    color: var(--dark-color);
    z-index: 9;
    opacity: 1;
    clip-path: circle(50px at 100% -10%);
    -webkit-clip-path: circle(50px at 100% -10%);

    ::selection {
        background-color: #202022;
        color: #fff;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .link-dark {
        font-size: 5rem;
        display: flex;
        align-items: center;
        margin-top: 8rem;
        font-weight: bold;
    }

    &__right {
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;

        .arrow-img {
            position: absolute;
            right: 25rem;
            top: 14rem;
            width: 2.8rem;
            transform: rotate(-15deg);
        }
    }
}

.contact__btn.link-dark::after {
    background-color: var(--dark-color);
}

body.hide-overflow {
    overflow: hidden !important;
}

@media (max-width:1024px) {
    .container {
        padding: 0 50px;
    }

    .hero {
        height: auto;
        padding: 20rem 0;
    }


    .menu-popup {
        .link-dark {
            margin-top: 10rem;
        }

        &__right {
            .arrow-img {
                position: absolute;
                right: 25rem;
                top: 16rem;
                transform: rotate(-15deg);
                width: 3rem;
            }
        }
    }

}

@media (max-width:992px) {
    html {
        font-size: 45%;
    }
}

@media (max-width:768px) {
    html {
        font-size: 40%;
    }

    .cursor {
        display: none;
    }
}

@media (max-width:767px) {
    html {
        font-size: 40%;
    }

    .about {
        grid-template-columns: 1fr;

        &__right {
            display: none;
        }
    }

    .work {
        .work-row {
            flex-direction: column-reverse;

            &__left {
                margin-top: 5rem;
                width: 100%;
            }

            &__right {
                width: 100%;
            }

        }
    }


}

@media(max-width:650px) {
    .testimonial__text {
        font-size: 3rem;

        img {
            width: 5rem;
            height: 5rem;
        }
    }


}


@media(max-width:450px) {
    .container {
        padding: 0 20px;
    }

    .hero {
        padding: 15rem 0 0;

        .main-heading {
            font-size: 4rem;

            .heading-arrow {
                margin-left: 2rem;
            }
        }

    }

    .testimonial__text {
        margin: 10px 20px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        bottom: -5rem;
        top: auto;
        display: none;
        z-index: 999;
    }

    .contact__inner {
        flex-direction: column;
        gap: 5rem;
    }

    .contact__icon {
        display: none;
    }

    .about {
        padding: 5rem 0;
    }

    .work {
        padding: 5rem 0;
    }

    .contact {
        padding: 5rem 0;
        position: relative;
    }

    .footer {
        padding: 5rem 0 0;
    }

    .cursor.nav-active {
        transform: scale(2);
        border: .5px solid var(--light-color);
    }

    .cursor.btn-active {
        background-color: var(--light-color);
        transform: scale(2);
        border: 1px solid var(--light-color);
    }

    .cursor.img-active {
        transform: scale(2);
        border: 1px solid var(--light-color);
    }

    .menu-popup {
        .container {
            max-width: 100%;
            flex-direction: column;
            justify-content: center;
        }

        &__left {
            width: 100%;

        }

        .link-dark {
            font-size: 3rem;
            margin-top: 3rem;
            font-weight: bold;
            width: max-content;

            img {
                width: 25px;
            }
        }

        &__right {
            width: 100%;
            text-align: left;
            align-items: flex-start;

            .arrow-img {
                display: none;
            }
        }
    }

    .hide-on-mobile {
        display: none;
    }

    header {
        .nav {
            .menu-icon {

                &.active .line1 {
                    transform: rotate(45deg) translateY(5px);
                }

                &.active .line2 {
                    transform: rotate(-45deg) translateY(-5px);

                }
            }
        }
    }
}


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: var(--dark-color);
    z-index: 999999;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
    filter: url("#goo");

    .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        &:after {
            content: "";
            background: var(--light-color);
            border-radius: 50%;
            height: 24px;
            width: 24px;
            position: absolute;
            top: 0;
            left: 0;
        }

        span {
            height: 24px;
            width: 24px;
            position: absolute;
            top: 0;
            left: 0;

            &:nth-of-type(1) {
                transform: translateX(-100%) translateY(0) rotate(-90deg);
            }

            &:nth-of-type(2) {
                transform: translateX(-70%) translateY(-70%) rotate(-45deg);
            }

            &:nth-of-type(3) {
                transform: translateX(0) translateY(-100%) rotate(0);
            }

            &:nth-of-type(4) {
                transform: translateX(70%) translateY(-70%) rotate(45deg);
            }

            &:nth-of-type(5) {
                transform: translateX(100%) translateY(0) rotate(90deg);
            }

            &:nth-of-type(6) {
                transform: translateX(70%) translateY(70%) rotate(135deg);
            }

            &:nth-of-type(7) {
                transform: translateX(0) translateY(100%) rotate(180deg);
            }

            &:nth-of-type(8) {
                transform: translateX(-70%) translateY(70%) rotate(-135deg);
            }

            &:nth-of-type(1):after {
                animation-delay: 0;
            }

            &:nth-of-type(2):after {
                animation-delay: 375ms;
            }

            &:nth-of-type(3):after {
                animation-delay: 750ms;
            }

            &:nth-of-type(4):after {
                animation-delay: 1125ms;
            }

            &:nth-of-type(5):after {
                animation-delay: 1500ms;
            }

            &:nth-of-type(6):after {
                animation-delay: 1875ms;
            }

            &:nth-of-type(7):after {
                animation-delay: 2250ms;
            }

            &:nth-of-type(8):after {
                animation-delay: 2625ms;
            }

            &:nth-of-type(1):before {
                animation-delay: 0ms;
            }

            &:nth-of-type(2):before {
                animation-delay: 375ms;
            }

            &:nth-of-type(3):before {
                animation-delay: 750ms;
            }

            &:nth-of-type(4):before {
                animation-delay: 1125ms;
            }

            &:nth-of-type(5):before {
                animation-delay: 1500ms;
            }

            &:nth-of-type(6):before {
                animation-delay: 1875ms;
            }

            &:nth-of-type(7):before {
                animation-delay: 2250ms;
            }

            &:nth-of-type(8):before {
                animation-delay: 2625ms;
            }

            &:after {
                content: "";
                background: var(--light-color);
                height: 13px;
                width: 13px;
                position: absolute;
                top: 9px;
                left: 9px;
                transform: translateX(0) translateY(0);
                border-radius: 50%;
                animation: move 3s linear infinite;
            }

            &:before {
                content: "";
                background: var(--light-color);
                height: 10px;
                width: 10px;
                position: absolute;
                top: 8px;
                left: 8px;
                transform: translateX(0) translateY(0);
                border-radius: 50%;
                animation: move2 3s linear infinite;
            }
        }

        @keyframes move {
            0% {
                transform: translateX(0) translateY(0);
            }

            10% {
                transform: translateX(0) translateY(-350%);
            }

            15% {
                transform: translateX(0) translateY(-400%);
            }

            17% {
                transform: translateX(0) translateY(-400%);
            }

            20% {
                transform: translateX(0) translateY(-350%);
            }

            23% {
                transform: translateX(0) translateY(0);
            }

            100% {
                transform: translateX(0) translateY(0);
            }
        }

        @keyframes move2 {
            0% {
                transform: translateX(0) translateY(0);
            }

            10% {
                transform: translateX(0) translateY(-370%);
            }

            15% {
                transform: translateX(0) translateY(-530%);
            }

            17% {
                transform: translateX(0) translateY(-530%);
            }

            20% {
                transform: translateX(0) translateY(-450%);
            }

            23% {
                transform: translateX(0) translateY(-150%);
            }

            26% {
                transform: translateX(0) translateY(0);
            }

            100% {
                transform: translateX(0) translateY(0);
            }
        }
    }
}